// client/src/App.css

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h4 {
  padding-left: 20px;
  margin-bottom: 10px;
}

.App {
  background-image: url('https://www.gstatic.com/chat/hangouts/bg/650ec88f5cc9e0c827fe6ac61117211d-VidyaNagarajan.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  height:100%;
}

.right-sidebar {
  background-color: white;
  border: 12px solid navajowhite;
  float:right;
  height: 88%;
  width:40%;
  margin:3%;
  border-radius:3%
}

.left-sidebar {
  float: left;
  background-color: white;
  border: 12px solid navajowhite;
  height:88%;
  width:20%;
  margin:3%;
  border-radius:3%
}

.user-profile {
  height: 70px;
  display: flex;
  align-items: flex-start;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}

.user-profile span {
  display: block;
}

.user-profile .username {
  font-size: 20px;
  font-weight: 700;
}

.chat-rooms li, .room-member {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  font-size: 18px;
  color: #181919;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  margin-bottom: 0;
}

.room-member {
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
}

.send-dm {
  opacity: 0;
  pointer-events: none;
  font-size: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 0;
  padding: 0 10px;
  line-height: 1.4;
  height: auto;
}

.room-member:hover .send-dm {
  opacity: 1;
  pointer-events: all;
}

.presence {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  margin-right: 10px;
  border-radius: 50%;
}

.presence.online {
  background-color: green;
}

.chat-rooms .active {
  background-color: #eee;
  color: #181919;
}

.chat-rooms li:hover {
  background-color: #D8D1D1;
}

.room-icon {
  display: inline-block;
  margin-right: 10px;
}

.chat-screen {
  display: flex;
  flex-direction: column;
  float: left;
  width:25%;
}

.chat-header {
  height: 70px;
  flex-shrink: 0;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-header h3 {
  margin-bottom: 0;
  text-align: center;
}

.chat-messages {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 0;
  min-height: min-content;
}

.message {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message span {
  display: block;
  text-align: left;
}

.message .user-id {
  font-weight: bold;
}

.message-form {
  border-top: 1px solid #ccc;
}

.message-form, .message-input {
  width: 100%;
  margin-bottom: 0;
}

input[type="text"].message-input {
  height: 50px;
  border: none;
  padding-left: 20px;
}

/* Dialog
   ========================================================================== */

.dialog-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content:center;
  align-items: center;
}

.dialog {
  width: 500px;
  background-color: white;
  display: flex;
  align-items:  center;
}

.dialog-form {
  width: 100%;
  margin-bottom: 0;
  padding: 20px;
}

.dialog-form > * {
  display: block;
}

.username-label {
  text-align: left;
  font-size: 16px;
}

.username-input {
  width: 100%;
}

input[type="text"]:focus {
  border-color: #5C8436;
}

.submit-btn {
  color: #5C8436;
  background-color: #181919;
  width: 100%;
}

.submit-btn:hover {
  color: #5C8436;
  background-color: #222;
}

/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container .right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}